<!-- Navbar -->
<nav class="navbar">
	<div class="navbar-left">
		<a href="https://myspace.com" target="_blank" class="navbar-item navbar-title"><img src="icons/ms.png" class="navbar-logo"/> Myspace2lol©</a>
		<a href="https://www.lifewire.com/is-myspace-dead-3486012" target="_blank" class="navbar-item">Myspace est-il mort ?</a>
		<a href="https://en.wikipedia.org/wiki/Myspace" target="_blank" class="navbar-item">C'était quoi Myspace ?</a>
	</div>
	<!-- Avatar -->
	<div class="navbar-right">
		<a href="https://myspace.com/" target="_blank" class="navbar-item">Joe Banana</a>
		<a href="https://myspace.com/" target="_blank" class="navbar-item"><img src="images/joebanana.jpg" alt="Avatar" class="avatar"/></a>
	</div>
</nav>

<!-- Corps de la page -->
<section class="container">

	<!-- Tabs -->
	<div class="tab-frame">
		<input type="radio" checked name="tab" id="tab1">
		<label for="tab1">Playlist</label>

		<input type="radio" name="tab" id="tab2">
		<label for="tab2">Boutons nuls</label>

		<input type="radio" name="tab" id="tab3">
		<label for="tab3">Mots-clés</label>
		
		<input type="radio" name="tab" id="tab4">
		<label for="tab4">Hommage postume</label>

		<!-- Tab1 -->
		<div class="tab">

			<!-- Cards -->
			<div class="card">
				<a href="https://www.youtube.com/watch?v=3yv6Gn911uc" target="_blank" class="card-link">
					<img src="images/albumleaf.jpg" alt="card" class="card-img"/>
					<p class="card-title">The Album Leaf</br><span class="card-subtitle">22 14</span></br><span class="card-subsubtitle">#Electronica</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=Xk685lJniBg" target="_blank" class="card-link">
					<img src="images/siljenes.jpg" alt="card" class="card-img"/>
					<p class="card-title">Silje Nes</br><span class="card-subtitle">Crystals</span></br><span class="card-subsubtitle">#Folk</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=d_zL2_rcTMg&frags=pl%2Cwn" target="_blank" class="card-link">
					<img src="images/m83.jpg" alt="card" class="card-img"/>
					<p class="card-title">M83</br><span class="card-subtitle">Unrecorded</span></br><span class="card-subsubtitle">#Electro</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=p3uIwEY27DQ" target="_blank" class="card-link">
					<img src="images/mogwai.jpg" alt="card" class="card-img"/>
					<p class="card-title">Mogwai</br><span class="card-subtitle">Tracy</span></br><span class="card-subsubtitle">#Post-rock</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=rbiBaYsef28" target="_blank" class="card-link">
					<img src="images/vector.jpg" alt="card" class="card-img"/>
					<p class="card-title">Vector Lovers</br><span class="card-subtitle">Nightwalking</span></br><span class="card-subsubtitle">#Electronica</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=C5eN1qY15Cs" target="_blank" class="card-link">
					<img src="images/johnmaus.jpg" alt="card" class="card-img"/>
					<p class="card-title">John Maus</br><span class="card-subtitle">Hey Moon</span></br><span class="card-subsubtitle">#Electronica</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=XcWPx60NNJ4&frags=pl%2Cwn" target="_blank" class="card-link">
					<img src="images/amiina.jpg" alt="card" class="card-img"/>
					<p class="card-title">Amiina</br><span class="card-subtitle">Seoul</span></br><span class="card-subsubtitle">#Ambient</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=B0_oOjPRdfI" target="_blank" class="card-link">
					<img src="images/cunnin.jpg" alt="card" class="card-img"/>
					<p class="card-title">CunninLynguists</br><span class="card-subtitle">The Gates</span></br><span class="card-subsubtitle">#Hip-hop</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=Y6rb0ShFNio" target="_blank" class="card-link">
					<img src="images/bjm.jpg" alt="card" class="card-img"/>
					<p class="card-title">Brian Jonestown Massacre</br><span class="card-subtitle">Methodrone</span></br><span class="card-subsubtitle">#Rockalternatif</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=KqGWInK_Gz8" target="_blank" class="card-link">
					<img src="images/brassens.jpg" alt="card" class="card-img"/>
					<p class="card-title">Georges Brassens</br><span class="card-subtitle">La Marche nuptiale</span></br><span class="card-subsubtitle">#Chansonfrançaise</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=VU_2R1rjbD8" target="_blank" class="card-link">
					<img src="images/arcadefire.jpg" alt="card" class="card-img"/>
					<p class="card-title">Arcade Fire</br><span class="card-subtitle">Neighborhood #1</span></br><span class="card-subsubtitle">#Rockalternatif</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=H5Kkw-Puhho" target="_blank" class="card-link">
					<img src="images/shepastaway.jpg" alt="card" class="card-img"/>
					<p class="card-title">She Past Away</br><span class="card-subtitle">Rituel</span></br><span class="card-subsubtitle">#Darkwave</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=_-WkP6zMijs&frags=pl%2Cwn" target="_blank" class="card-link">
					<img src="images/accesstoarasaka.jpg" alt="card" class="card-img"/>
					<p class="card-title">Access to Arasaka</br><span class="card-subtitle">Talitha</span></br><span class="card-subsubtitle">#IDM</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=UfiGh0U5h7U&frags=pl%2Cwn" target="_blank" class="card-link">
					<img src="images/jeanpauldub.jpg" alt="card" class="card-img"/>
					<p class="card-title">Jean Paul Dub</br><span class="card-subtitle">Good News</span></br><span class="card-subsubtitle">#Dub</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=OS6duOoxctw" target="_blank" class="card-link">
					<img src="images/beachhouse.jpg" alt="card" class="card-img"/>
					<p class="card-title">Beach House</br><span class="card-subtitle">Whishes</span></br><span class="card-subsubtitle">#Dreampop</span></p>
				</a>
				<a href="https://www.youtube.com/watch?v=6--T11YGjKI&frags=pl%2Cwn" target="_blank" class="card-link">
					<img src="images/joy.jpg" alt="card" class="card-img"/>
					<p class="card-title">Joy!</br><span class="card-subtitle">Still Rising</span></br><span class="card-subsubtitle">#Electro</span></p>
				</a>
			</div>
		</div>
		
		<!-- Tab2 -->
		<div class="tab">
			<!-- Bouton -->
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Clique moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Lol</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Lol lole</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button">Et moi</button></a>
			<a href="https://www.youtube.com/watch?v=4WX58CZwyiU" target="_blank"><button class="button button-lol">OK lol bye</button></a>
		</div>
		
		<!-- Tab3 -->
		<div class="tab">
			<div class="tab3-4-box">
				<h1>Myspace, Myspace2.0, musique, playlist, réseau social, 90's</p>
			</div>
		</div>
		
		<!-- Tab4 -->
		<div class="tab">
			<div class="tab3-4-box">
				<p>"Myspace est mort, mais la vie grouille en lui"</p>
				<p>- Fuzati</p>
			</div>
		</div>

	</div>
</section>

	<!-- Mini barre réseaux sociaux -->
<footer class="social">
	<a href="https://www.facebook.com/" target="_blank">
		<img src="icons/fb.png" class="social-img"/>
	</a>
	<a href="https://www.instagram.com/" target="_blank">
		<img src="icons/ig.png" class="social-img"/>
	</a>
	<a href="https://www.linkedin.com/" target="_blank">
		<img src="icons/in.png" class="social-img"/>
	</a>
</footer>
